<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
th:src="@{/cucei.png}"
src="../static/cucei.png"
-->
<html>
    <head>
        <title>Citas</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-----Css only------>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src= 
                "https://code.jquery.com/jquery-3.5.0.js">
        </script>
    </head>
    <body th:style="'background-image:url(' + @{/Entrada.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'" >
        <nav class="navbar navbar-expand-lg" style="background: linear-gradient(rgb(25, 2, 80),rgb(40, 25, 75),rgb(78, 2, 255)) ">
            <img th:src="@{/cucei.png}" alt="cucei"  width="100px" height="30px" />
        </nav>  
        <script th:inline="javascript">
            setInterval(function (){
                displayHello();
                mueveReloj();
            }, 1000);
            function displayHello() {
                $("#table1").load(location.href + " #table1");
                $("#table2").load(location.href + " #table2");
            }
            function mueveReloj() {
                /*<![CDATA[*/
                    var zona = /*[[${hora}]]*/ 'defaultanyvalue' //para agarrar datos "America/Mexico_City"
                    momentoActual = new Date(new Date().toLocaleString("en-US", { timeZone: zona }))
                /*]]>*/
                hora = momentoActual.getHours()
                minuto = momentoActual.getMinutes()
                segundo = momentoActual.getSeconds()

                str_segundo = new String(segundo)
                if (str_segundo.length == 1)
                    segundo = "0" + segundo

                str_minuto = new String(minuto)
                if (str_minuto.length == 1)
                    minuto = "0" + minuto

                str_hora = new String(hora)
                if (str_hora.length == 1)
                    hora = "0" + hora

                horaImprimible = hora + " : " + minuto + " : " + segundo

                document.form_reloj.reloj.value = horaImprimible
            }
            
        </script>

        <div style="display: flex; align-items: center; justify-content: space-between; background:linear-gradient(rgb(59, 89, 187),rgb(78, 2, 255))"> 
            <h1 style="color : black">Lista de citas de entrada <span th:text="${param.n}"></span> </h1>
            <form name="form_reloj">
                <input type="text" name="reloj" size="10" onfocus="window.document.form_reloj.reloj.blur()"
                    style="background: linear-gradient(rgb(23, 70, 221),rgb(78, 2, 255),rgb(59, 89, 187)); color : White; font-family : Verdana, Arial, Helvetica; font-size : 18pt; text-align : center;">
            </form>
        </div>
        <div style="display: flex " >
            <table class="table table-striped table-hover" id="table1">
                <thead class="table-dark" >
                    <tr>
                        <th class="text-center">Actuales</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${ingresos.isEmpty()}" style="background-color: rgba(0, 0, 0, 0.308);">
                        <td class="text-center" colspan="3" style="color: white;">No hay citas</td>
                    </tr>
                    <tr th:each="ingreso : ${ingresos}" style="background-color: rgba(0, 0, 0, 0.308);"> 
                        <td style="color: white;">
                            <a> <b>Identificador del citado:</b> <small th:utext="${ingreso.getCitado().getIdentificador()}">Placa</small> </a>
                            <br>
                            <a> <b>Fecha de la cita:</b> <small th:utext="${ingreso.getCita().getFecha().toLocalDate()}">Fecha</small> </a>
                            <br>
                            <a> <b>Hora de la cita:</b> <small th:utext="${ingreso.getCita().getFecha().toLocalTime()}">Hora</small> </a>
                            <br>
                            <a> <b>Color de citado:</b> <small th:utext="${ingreso.color}">Color</small> </a>
                            <br>
                            <a> <b>Tipo de citado:</b> <small th:utext="${ingreso.getCitado().tipo}">Tipo</small> </a>
                            <br>
                        </td> 
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-hover" id="table2">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center">Pasados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${tolerancia.isEmpty()}" style="background-color: rgba(0, 0, 0, 0.308);">
                        <td class="text-center" colspan="3" style="color: white;">No hay citas</td>
                    </tr>
                    <tr th:each="ingreso : ${tolerancia}" style="background-color: rgba(0, 0, 0, 0.308);"> 
                        <td style="color: white;"> 
                            <a> <b>Identificador del citado:</b> <small th:utext="${ingreso.getCitado().getIdentificador()}">Placa</small> </a>
                            <br>
                            <a> <b>Fecha de la cita:</b> <small th:utext="${ingreso.getCita().getFecha().toLocalDate()}">Fecha</small> </a>
                            <br>
                            <a> <b>Hora de la cita:</b> <small th:utext="${ingreso.getCita().getFecha().toLocalTime()}">Hora</small> </a>
                            <br>
                            <a> <b>Color de citado:</b> <small th:utext="${ingreso.color}">Color</small> </a>
                            <br>
                            <a> <b>Tipo de citado:</b> <small th:utext="${ingreso.getCitado().tipo}">Tipo</small> </a>
                            <br>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
