<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>Citas</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-----Css only------>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Cucei</a>
       </nav>
        <center>
            <div class="ventanas_cucei">
              <a class="btn btn-primary" href="#">Entrada 1</a> 
                &nbsp;
              <a class="btn btn-danger" href="#">Entrada 2</a>
                &nbsp;
              <a class="btn btn-primary" href="#">Entrada 3</a> 
            </div>
        </center>    
        
        <div class="container">
            <div class="row"> 
                <h1>lista de citas de entrada </h1>
            </div>   
            <table class="table table-striped table-hover">
                <tr th:if="${citas.isEmpty()}">
                    <td class="text-center" colspan="3">No hay citas</td>
                </tr>
                 <thead class="table-dark">
                    <tr th:each="cita : ${citas}"> 
                    <td> 
                        <a> hola: <small th:text="${cita.nombre}">hola</small> </a>
                        <br>
                        <a> hola: <small th:text="${cita.fecha}">hola</small> </a>
                        <br>
                    </td> 
                    </tr>
                </thead>
        </table>
           
          
        </div>
    </body>
</html>
